<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:lang="http://www.springframework.org/schema/lang" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">


	<!--<tx:jta-transaction-manager/> -->

	<tx:annotation-driven transaction-manager="dataSourceTransactionManager"
		mode="proxy" />

	<!-- Declare a transaction manager -->
	<!-- See http://static.springsource.org/spring/docs/3.0.x/spring-framework-reference/html/transaction.html -->
	<bean id="dataSourceTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="dataSource" />

	<!-- Activates various annotations to be detected in bean classes -->
	<context:annotation-config />

	<!-- Scans the classpath for annotated components that will be auto-registered 
		as Spring beans. For example @Controller and @Service. Make sure to set the 
		correct base-package -->
	<context:component-scan base-package="com.nervytech.mailer24x7">
		<context:include-filter type="regex"
			expression="(service|controller|resource)\..*" />
	</context:component-scan>


	<!-- Configures the annotation-driven Spring MVC Controller programming 
		model. Note that, with Spring 3.0, this tag works in Servlet MVC only! -->
	<mvc:annotation-driven />

	<!-- For Schedule Tasks -->
	<!-- <task:annotation-driven/> -->

	<bean id="applicationProperty"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:scheduler.properties</value>
		</property>
	</bean>

	<util:properties id="applicationProps" location="classpath:scheduler.properties" />


	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="/WEB-INF/messages" />
	</bean>

	<!-- <jee:jndi-lookup id="dataSource1" jndi-name="java:comp/env/jdbc/MySQLDS" 
		/> -->

	<bean id="dataSource" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/mailer24x7" />
		<property name="username" value="root" />
		<property name="password" value="vani1982" />
		<property name="defaultAutoCommit" value="true" />
	</bean>

	<!-- Configure the multipart resolver -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- one of the properties available; the maximum file size in bytes (i.e 
			- 300kb) -->
		<property name="maxUploadSize" value="-1" />
	</bean>

	<bean id="campaignDAO" class="com.nervytech.mailer24x7.model.dao.impl.CampaignDAO">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="campaignSenderDAO"
		class="com.nervytech.mailer24x7.model.dao.impl.CampaignSenderDAO">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="campaignStatusDAO"
		class="com.nervytech.mailer24x7.model.dao.impl.CampaignStatusDAO">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="countryMapDAO" class="com.nervytech.mailer24x7.model.dao.impl.CountryMapDAO">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="organizationDAO" class="com.nervytech.mailer24x7.model.dao.impl.OrganizationDAO">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="subscriberIdStatusDAO"
		class="com.nervytech.mailer24x7.model.dao.impl.SubscriberIdStatusDAO">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="subscriberListDAO"
		class="com.nervytech.mailer24x7.model.dao.impl.SubscriberListDAO">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>


	<bean id="subscriberReportsDAO"
		class="com.nervytech.mailer24x7.model.dao.impl.SubscriberReportsDAO">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="userDAO" class="com.nervytech.mailer24x7.model.dao.impl.UserDAO">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="userSessionDAO" class="com.nervytech.mailer24x7.model.dao.impl.UserSessionDAO">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="userUuidDAO" class="com.nervytech.mailer24x7.model.dao.impl.UserUuidDAO">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="historyDAO" class="com.nervytech.mailer24x7.model.dao.impl.HistoryDAO">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="mailgunCampignSyncer" class="com.nervytech.mailer24x7.mailgun.MailgunCampignSyncer" />
	<bean id="campaignTaskExecutor"
		class="com.nervytech.mailer24x7.campaign.job.task.CampaignTaskExecutor" />

	<bean id="twelveHoursCampaignStatsSyncTaskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="15" />
		<property name="maxPoolSize" value="40" />
		<property name="queueCapacity" value="50000" />
	</bean>

	<bean id="biHourlyCampaignStatsSyncTaskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="15" />
		<property name="maxPoolSize" value="30" />
		<property name="queueCapacity" value="20000" />
	</bean>

	<bean id="campaignLaterTaskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="maxPoolSize" value="10" />
		<property name="queueCapacity" value="100" />
	</bean>

	<bean id="campaignNowTaskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="maxPoolSize" value="10" />
		<property name="queueCapacity" value="${time}" />
	</bean>

	<!-- Scheduler Configuration Starts here ..... -->

	<bean id="campaignNowJob"
		class="com.nervytech.mailer24x7.campaign.job.scheduler.CampaignNowJob">
		<constructor-arg ref="campaignNowTaskExecutor" />
	</bean>

	<bean id="campaignLaterJob"
		class="com.nervytech.mailer24x7.campaign.job.scheduler.CampaignLaterJob">
		<constructor-arg ref="campaignLaterTaskExecutor" />
	</bean>


	<bean id="biHourCampaignStatsSyncJob"
		class="com.nervytech.mailer24x7.campaign.job.scheduler.BiHourlyCampaignStatsSyncJob">
		<constructor-arg ref="biHourlyCampaignStatsSyncTaskExecutor" />
	</bean>

	<bean id="twelveHoursCampaignStatsSyncJob"
		class="com.nervytech.mailer24x7.campaign.job.scheduler.TwelveHoursCampaignStatsSyncJob">
		<constructor-arg ref="twelveHoursCampaignStatsSyncTaskExecutor" />
	</bean>

	<bean id="campaignLaterJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="campaignLaterJob" />
		<property name="targetMethod" value="run" />
		<property name="concurrent" value="false" />
	</bean>

	<bean id="campaignNowJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="campaignNowJob" />
		<property name="targetMethod" value="run" />
		<property name="concurrent" value="false" />
	</bean>

	<bean id="biHoursCampaignStatsSyncJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="biHourCampaignStatsSyncJob" />
		<property name="targetMethod" value="run" />
		<property name="concurrent" value="false" />
	</bean>

	<bean id="twelveHoursCampaignStatsSyncJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="twelveHoursCampaignStatsSyncJob" />
		<property name="targetMethod" value="run" />
		<property name="concurrent" value="false" />
	</bean>

	<bean id="campaignLaterTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<!-- see the example of method invoking job above -->
		<property name="jobDetail" ref="campaignLaterJobDetail" />
		<!-- 90 seconds -->
		<property name="startDelay" value="6000" />
		<!-- repeat every 90 seconds -->
		<property name="repeatInterval" value="90000" />
	</bean>

	<bean id="campaignNowTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<!-- see the example of method invoking job above -->
		<property name="jobDetail" ref="campaignNowJobDetail" />
		<!-- 60 seconds -->
		<property name="startDelay" value="5000" />
		<!-- repeat every 90 seconds -->
		<property name="repeatInterval" value="20000" />
	</bean>

	<bean id="biHoursCampaignStatsSyncTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<!-- see the example of method invoking job above -->
		<property name="jobDetail" ref="biHoursCampaignStatsSyncJobDetail" />
		<!-- 120 seconds -->
		<property name="startDelay" value="5000" />
		<!-- repeat every 90 seconds -->
		<property name="repeatInterval" value="50000" />
	</bean>

	<bean id="twelveHoursCampaignStatsSyncTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<!-- see the example of method invoking job above -->
		<property name="jobDetail" ref="twelveHoursCampaignStatsSyncJobDetail" />
		<!-- 120 seconds -->
		<property name="startDelay" value="6000" />
		<!-- repeat every 90 seconds -->
		<property name="repeatInterval" value="90000" />
	</bean>

	<!-- <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean"> 
		<property name="jobDetail" ref="exampleJob" /> run every morning at 6 AM 
		<property name="cronExpression" value="0 0 6 * * ?" /> </bean> -->

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!-- <ref bean="cronTrigger" /> -->
				 <ref bean="campaignNowTrigger" /> <ref bean="campaignLaterTrigger" /> 
				 <ref bean="biHoursCampaignStatsSyncTrigger" /> <ref bean="twelveHoursCampaignStatsSyncTrigger" />    
			</list>
		</property>
		<!-- <property name="dataSource" ref="dataSource"/> <property name="quartzProperties"> 
			<props> <prop key="org.quartz.scheduler.instanceName">MailerClusteredScheduler</prop> 
			<prop key="org.quartz.scheduler.instanceId">AUTO</prop> <prop key="org.quartz.jobStore.misfireThreshold">60000</prop> 
			<prop key="org.quartz.jobStore.class">org.quartz.impl.jdbcjobstore.JobStoreTX</prop> 
			<prop key="org.quartz.jobStore.driverDelegateClass">org.quartz.impl.jdbcjobstore.StdJDBCDelegate</prop> 
			<prop key="org.quartz.jobStore.tablePrefix">QRTZ_</prop> <prop key="org.quartz.jobStore.isClustered">true</prop> 
			<prop key="org.quartz.jobStore.clusterCheckinInterval">20000</prop> <prop 
			key="org.quartz.threadPool.class">org.quartz.simpl.SimpleThreadPool</prop> 
			<prop key="org.quartz.threadPool.threadCount">20</prop> <prop key="org.quartz.threadPool.threadPriority">5</prop> 
			<prop key="org.quartz.jobStore.selectWithLockSQL">SELECT * FROM {0}LOCKS 
			UPDLOCK WHERE LOCK_NAME = ?</prop> <prop key="org.quartz.jobStore.nonManagedTXDataSource">NON_MANAGED_TX_DS_NAME</prop> 
			</props> </property> -->
	</bean>
	<!-- Scheduler Configuration Ends here ... -->

	<util:map id="roleDropDown">
		<entry key="" value="Select" />
		<entry key="0" value="USER" />
		<entry key="1" value="ADMIN" />
	</util:map>
	
	<util:map id="countryDropDown">
		<entry key="" value="Select" />
		<entry key="India" value="India" />
		<entry key="Canada" value="Canada" />
	</util:map>
	
	<util:map id="hoursDropDown">
		<entry key="1" value="1" />
		<entry key="2" value="2" />
		<entry key="3" value="3" />
		<entry key="4" value="4" />
		<entry key="5" value="5" />
		<entry key="6" value="6" />
		<entry key="7" value="7" />
		<entry key="8" value="8" />
		<entry key="9" value="9" />
		<entry key="10" value="10" />
		<entry key="11" value="11" />
		<entry key="12" value="12" />
		<entry key="13" value="13" />
		<entry key="14" value="14" />
		<entry key="15" value="15" />
		<entry key="16" value="16" />
		<entry key="17" value="17" />
		<entry key="18" value="18" />
		<entry key="19" value="19" />
		<entry key="20" value="20" />
		<entry key="21" value="21" />
		<entry key="22" value="22" />
		<entry key="23" value="23" />
	</util:map>
	
	<util:map id="minutesDropDown">
		<entry key="00" value="00" />
		<entry key="05" value="05" />
		<entry key="10" value="10" />
		<entry key="15" value="15" />
		<entry key="20" value="20" />
		<entry key="25" value="25" />
		<entry key="30" value="30" />
		<entry key="35" value="35" />
		<entry key="40" value="40" />
		<entry key="45" value="45" />
		<entry key="50" value="50" />
		<entry key="55" value="55" />
	 </util:map>

	<util:map id="timezoneDropdown">
	    <entry key="" value="Select a Time Zone" />
		<entry key="(GMT) Casablanca" value="(GMT) Casablanca" />
		<entry key="(GMT) Coordinated Universal Time" value="(GMT) Coordinated Universal Time" />
		<entry key="(GMT) Dublin, Edinburgh, Lisbon, London" value="(GMT) Dublin, Edinburgh, Lisbon, London" />
		<entry key="(GMT) Monrovia, Reykjavik" value="(GMT) Monrovia, Reykjavik" />
		<entry key="(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna"
			value="(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna" />
		<entry key="(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague"
			value="(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague" />
		<entry key="(GMT+01:00) Brussels, Copenhagen, Madrid, Paris"
			value="(GMT+01:00) Brussels, Copenhagen, Madrid, Paris" />
		<entry key="(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb" value="(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb" />
		<entry key="(GMT+01:00) West Central Africa" value="(GMT+01:00) West Central Africa" />
		<entry key="(GMT+01:00) Windhoek" value="(GMT+01:00) Windhoek" />
		<entry key="(GMT+02:00) Amman" value="(GMT+02:00) Amman" />
		<entry key="(GMT+02:00) Athens, Bucharest" value="(GMT+02:00) Athens, Bucharest" />
		<entry key="(GMT+02:00) Beirut" value="(GMT+02:00) Beirut" />
		<entry key="(GMT+02:00) Cairo" value="(GMT+02:00) Cairo" />
		<entry key="(GMT+02:00) Damascus" value="(GMT+02:00) Damascus" />
		<entry key="(GMT+02:00) Harare, Pretoria" value="(GMT+02:00) Harare, Pretoria" />
		<entry key="(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius"
			value="(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius" />
		<entry key="(GMT+02:00) Istanbul" value="(GMT+02:00) Istanbul" />
		<entry key="(GMT+02:00) Jerusalem" value="(GMT+02:00) Jerusalem" />
		<entry key="(GMT+02:00) Nicosia" value="(GMT+02:00) Nicosia" />
		<entry key="(GMT+03:00) Baghdad" value="(GMT+03:00) Baghdad" />
		<entry key="(GMT+03:00) Kaliningrad, Minsk" value="(GMT+03:00) Kaliningrad, Minsk" />
		<entry key="(GMT+03:00) Kuwait, Riyadh" value="(GMT+03:00) Kuwait, Riyadh" />
		<entry key="(GMT+03:00) Nairobi" value="(GMT+03:00) Nairobi" />
		<entry key="(GMT+03:30) Tehran" value="(GMT+03:30) Tehran" />
		<entry key="(GMT+04:00) Abu Dhabi, Muscat" value="(GMT+04:00) Abu Dhabi, Muscat" />
		<entry key="(GMT+04:00) Baku" value="(GMT+04:00) Baku" />
		<entry key="(GMT+04:00) Moscow, St. Petersburg, Volgograd"
			value="(GMT+04:00) Moscow, St. Petersburg, Volgograd" />
		<entry key="(GMT+04:00) Port Louis" value="(GMT+04:00) Port Louis" />
		<entry key="(GMT+04:00) Tbilisi" value="(GMT+04:00) Tbilisi" />
		<entry key="(GMT+04:00) Yerevan" value="(GMT+04:00) Yerevan" />
		<entry key="(GMT+04:30) Kabul" value="(GMT+04:30) Kabul" />
		<entry key="(GMT+05:00) Islamabad, Karachi" value="(GMT+05:00) Islamabad, Karachi" />
		<entry key="(GMT+05:00) Tashkent" value="(GMT+05:00) Tashkent" />
		<entry key="(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi" value="(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi" />
		<entry key="(GMT+05:30) Sri Jayawardenepura" value="(GMT+05:30) Sri Jayawardenepura" />
		<entry key="(GMT+05:45) Kathmandu" value="(GMT+05:45) Kathmandu" />
		<entry key="(GMT+06:00) Astana" value="(GMT+06:00) Astana" />
		<entry key="(GMT+06:00) Dhaka" value="(GMT+06:00) Dhaka" />
		<entry key="(GMT+06:00) Ekaterinburg" value="(GMT+06:00) Ekaterinburg" />
		<entry key="(GMT+06:30) Yangon (Rangoon)" value="(GMT+06:30) Yangon (Rangoon)" />
		<entry key="(GMT+07:00) Bangkok, Hanoi, Jakarta" value="(GMT+07:00) Bangkok, Hanoi, Jakarta" />
		<entry key="(GMT+07:00) Novosibirsk" value="(GMT+07:00) Novosibirsk" />
		<entry key="(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi" value="(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi" />
		<entry key="(GMT+08:00) Krasnoyarsk" value="(GMT+08:00) Krasnoyarsk" />
		<entry key="(GMT+08:00) Kuala Lumpur, Singapore" value="(GMT+08:00) Kuala Lumpur, Singapore" />
		<entry key="(GMT+08:00) Perth" value="(GMT+08:00) Perth" />
		<entry key="(GMT+08:00) Taipei" value="(GMT+08:00) Taipei" />
		<entry key="(GMT+08:00) Ulaanbaatar" value="(GMT+08:00) Ulaanbaatar" />
		<entry key="(GMT+09:00) Irkutsk" value="(GMT+09:00) Irkutsk" />
		<entry key="(GMT+09:00) Osaka, Sapporo, Tokyo" value="(GMT+09:00) Osaka, Sapporo, Tokyo" />
		<entry key="(GMT+09:00) Seoul" value="(GMT+09:00) Seoul" />
		<entry key="(GMT+09:30) Adelaide" value="(GMT+09:30) Adelaide" />
		<entry key="(GMT+09:30) Darwin" value="(GMT+09:30) Darwin" />
		<entry key="(GMT+10:00) Brisbane" value="(GMT+10:00) Brisbane" />
		<entry key="(GMT+10:00) Canberra, Melbourne, Sydney" value="(GMT+10:00) Canberra, Melbourne, Sydney" />
		<entry key="(GMT+10:00) Guam, Port Moresby" value="(GMT+10:00) Guam, Port Moresby" />
		<entry key="(GMT+10:00) Hobart" value="(GMT+10:00) Hobart" />
		<entry key="(GMT+10:00) Yakutsk" value="(GMT+10:00) Yakutsk" />
		<entry key="(GMT+11:00) Solomon Is., New Caledonia" value="(GMT+11:00) Solomon Is., New Caledonia" />
		<entry key="(GMT+11:00) Vladivostok" value="(GMT+11:00) Vladivostok" />
		<entry key="(GMT+12:00) Auckland, Wellington" value="(GMT+12:00) Auckland, Wellington" />
		<entry key="(GMT+12:00) Coordinated Universal Time+12" value="(GMT+12:00) Coordinated Universal Time+12" />
		<entry key="(GMT+12:00) Fiji" value="(GMT+12:00) Fiji" />
		<entry key="(GMT+12:00) Magadan" value="(GMT+12:00) Magadan" />
		<entry key="(GMT+12:00) Petropavlovsk-Kamchatsky - Old" value="(GMT+12:00) Petropavlovsk-Kamchatsky - Old" />
		<entry key="(GMT+13:00) Nuku'alofa" value="(GMT+13:00) Nuku'alofa" />
		<entry key="(GMT+13:00) Samoa" value="(GMT+13:00) Samoa" />
		<entry key="(GMT-01:00) Azores" value="(GMT-01:00) Azores" />
		<entry key="(GMT-01:00) Cape Verde Is." value="(GMT-01:00) Cape Verde Is." />
		<entry key="(GMT-02:00) Coordinated Universal Time-02" value="(GMT-02:00) Coordinated Universal Time-02" />
		<entry key="(GMT-02:00) Mid-Atlantic" value="(GMT-02:00) Mid-Atlantic" />
		<entry key="(GMT-03:00) Brasilia" value="(GMT-03:00) Brasilia" />
		<entry key="(GMT-03:00) Buenos Aires" value="(GMT-03:00) Buenos Aires" />
		<entry key="(GMT-03:00) Cayenne, Fortaleza" value="(GMT-03:00) Cayenne, Fortaleza" />
		<entry key="(GMT-03:00) Greenland" value="(GMT-03:00) Greenland" />
		<entry key="(GMT-03:00) Montevideo" value="(GMT-03:00) Montevideo" />
		<entry key="(GMT-03:00) Salvador" value="(GMT-03:00) Salvador" />
		<entry key="(GMT-03:30) Newfoundland" value="(GMT-03:30) Newfoundland" />
		<entry key="(GMT-04:00) Asuncion" value="(GMT-04:00) Asuncion" />
		<entry key="(GMT-04:00) Atlantic Time (Canada)" value="(GMT-04:00) Atlantic Time (Canada)" />
		<entry key="(GMT-04:00) Cuiaba" value="(GMT-04:00) Cuiaba" />
		<entry key="(GMT-04:00) Georgetown, La Paz, Manaus, San Juan" value="(GMT-04:00) Georgetown, La Paz, Manaus, San Juan" />
		<entry key="(GMT-04:00) Santiago" value="(GMT-04:00) Santiago" />
		<entry key="(GMT-04:30) Caracas" value="(GMT-04:30) Caracas" />
		<entry key="(GMT-05:00) Bogota, Lima, Quito" value="(GMT-05:00) Bogota, Lima, Quito" />
		<entry key="(GMT-05:00) Eastern Time (US &amp; Canada)" value="(GMT-05:00) Eastern Time (US &amp; Canada)" />
		<entry key="(GMT-05:00) Indiana (East)" value="(GMT-05:00) Indiana (East)" />
		<entry key="(GMT-06:00) Central America" value="(GMT-06:00) Central America" />
		<entry key="(GMT-06:00) Central Time (US &amp; Canada)" value="(GMT-06:00) Central Time (US &amp; Canada)" />
		<entry key="(GMT-06:00) Guadalajara, Mexico City, Monterrey" value="(GMT-06:00) Guadalajara, Mexico City, Monterrey" />
		<entry key="(GMT-06:00) Saskatchewan" value="(GMT-06:00) Saskatchewan" />
		<entry key="(GMT-07:00) Arizona" value="(GMT-07:00) Arizona" />
		<entry key="(GMT-07:00) Chihuahua, La Paz, Mazatlan" value="(GMT-07:00) Chihuahua, La Paz, Mazatlan" />
		<entry key="(GMT-07:00) Mountain Time (US &amp; Canada)" value="(GMT-07:00) Mountain Time (US &amp; Canada)" />
		<entry key="(GMT-08:00) Baja California" value="(GMT-08:00) Baja California" />
		<entry key="(GMT-08:00) Pacific Time (US &amp; Canada)" value="(GMT-08:00) Pacific Time (US &amp; Canada)" />
		<entry key="(GMT-09:00) Alaska" value="(GMT-09:00) Alaska" />
		<entry key="(GMT-10:00) Hawaii" value="(GMT-10:00) Hawaii" />
		<entry key="(GMT-11:00) Coordinated Universal Time-11" value="(GMT-11:00) Coordinated Universal Time-11" />
		<entry key="(GMT-12:00) International Date Line West" value="(GMT-12:00) International Date Line West" />
	</util:map>

</beans>
