.header {
  width: 100%;
  height: 42px;
  z-index: 101;
  background:#205d96;
  background-image: -moz-linear-gradient(top, #4a7eb9, #3e699a);
  background-image: -webkit-linear-gradient(top, #4a7eb9, #3e699a);
  background-image: -o-linear-gradient(top, #4a7eb9, #3e699a);
  background-image: linear-gradient(top, #4a7eb9, #3e699a);
  background-repeat: repeat-x;
   
}


.side-left {
  position: absolute;
  display: block;
  bottom: 0px;
  top: 42px;
  background: #f0f0f0;
  border-right: 1px solid #ccc;
  width: 90px;
  z-index: 98;
 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067),0px -37px 30px -30px #F0F0F0 inset,0px 0px 6px #CAC8C8 inset;
}

.user-thumb{
  height: 28px;
  margin: 0 0 0 10px;
  border: 1px solid #aeaeae;
  cursor: pointer;
}

.sidebar {
margin: 0px;
padding: 0px;
list-style: none;
color: #9c9c9c;
text-shadow: 0px 1px 1px #F0F0F0;

}

.sidebar > li {
position: relative;
margin: 0px;
padding: 16px 0 28px 0;
list-style: none;
height: 24px;
display: block;
text-align: center;
font-size: 13px;
border-bottom: 0px solid #aeaeae;
cursor: pointer;

}


.sidebar > li:hover{

	background-image: -webkit-linear-gradient(0deg,rgba(255, 255, 255, 0) 0%, #e2e2e2 100%);
	background-image: -moz-linear-gradient(0deg,rgba(255, 255, 255, 0) 0%, #e2e2e2 100%);

}

.sidebar > li.active {


	/*background-image: -webkit-linear-gradient(0deg,rgba(255, 255, 255, 0) 0%, #e2e2e2 100%);
	background-image: -moz-linear-gradient(0deg,rgba(255, 255, 255, 0) 0%, #e2e2e2 100%);*/
	color:#205d96;
	z-index:-1;
	background-color:#dcdcdc; 
	/*box-shadow: 0px 1px 4px #ACACAC inset, 0px 1px 2px #F0F0F0, 0px -1px 2px #D5D5D5 inset;*/
	
   
  
	
}


i[class^="icon-"] {
font-size: 20px;
color: #9c9c9c;
padding-bottom: 1px;

}

.active [class^="icon-"] {
	color:#205d96;;
}

.navbar-helper {
  margin: 0px 10px;
}

/*---end  of side-left-----*/

.content {
  
 /* z-index:99;*/
}

/*---end  of content-----*/

.bodyOfSpan {
  padding:20px 30px 30px 30px;
  box-sizing:border-box;
  position: absolute;
    top: 42px;
    left: 90px;
    bottom: 0px;
    right: 0px;
  box-shadow: -11px 0px 16px -13px #9e9e9e;

}



table tr:first-child{
  color: #111;
}

table{
  color: #666;
}

.icon-dashboard {
	background-position: -215px 0px;
}

.table tr {
	background:#FFF;
}

.table tr:hover {
	background: #ffffd6;
	cursor:pointer;
}

/*---end  of table-----*/

.selection-main-cont {
  padding:30px;
  box-sizing:border-box;

}

.selection-cont {
	box-shadow: 0 1px 3px #CDCDCD;
	background:#FFF;

}


.selection-inner {
	padding: 5px 27px 4px 28px;

	
	
}




.nav-btn
{
	position:relative;
}


.nav-btn-after:after {
content: "";
width: 0px;
height: 0px;
display: block;
border-width: 12px;
border-style: solid;
border-color: #e5e5e5 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
position:absolute;
bottom: -24PX;
left: -webkit-calc(50% - 12px);
left: -moz-calc(50% - 12px);
}



/*---end  of selection-header----*/

.detail-cont {
	padding:30px;
	position:absolute;
	left:0;
	right:0;

	
}


.detail-cont-header {
	padding: 10px 0 20px 0 ;
	font-size: 16px;
	
}


.detail-cont-header a{
	float: right;
	font-size: 13px;
	padding-left:10px;
	
}


.tab-content{

	background:#FFF;
	box-shadow: 0 1px 3px #CDCDCD;
	border-top: 1px solid #ddd;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
	padding: 5px 30px 20px 30px;

}


/*---end  of detail----*/


.profile-btn-group {
  position: relative;
  display: inline-block;
  margin:5px;
  *display: inline;
  white-space: nowrap;
  vertical-align: middle;
  font-size:14px;
  float:right;


}
.profile-btn-group a{ color:#fff; position:relative; top:5px}
.profile-btn-group a:hover{ color:#fff; text-decoration:none}
.profile-btn-group a:focus{ color:#fff; text-decoration:none}
.profile {
right: 0 !important;
}

.profile-dropdown-menu {
position: absolute;
top: 100%;
right: 0;
z-index: 1000;
display: none;
float: left;
min-width: 160px;
padding: 5px 0px 0px;
margin: 4px 0 0;
list-style: none;
background-color: #FFF;
border: 1px solid #CCC;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius:6px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
}

.profile-dropdown-menu> li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.profile-dropdown-menu> li > a:hover,
.profile-dropdown-menu> li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #CCCCCC;
  background-image: -moz-linear-gradient(top, #9b9b9b, #909090);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9b9b9b), to(#909090));
  background-image: -webkit-linear-gradient(top, #9b9b9b, #909090);
  background-image: -o-linear-gradient(top, #9b9b9b, #909090);
  background-image: linear-gradient(to bottom, #9b9b9b, #909090);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#747474', endColorstr='#909090', GradientType=0);
}

.profile-dropdown-menu> .active > a,
.profile-dropdown-menu> .active > a:hover,
.profile-dropdown-menu> .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.profile-dropdown-menu> .disabled > a,
.profile-dropdown-menu> .disabled > a:hover,
.profile-dropdown-menu> .disabled > a:focus {
  color: #999999;
}

.profile-dropdown-menu> .disabled > a:hover,
.profile-dropdown-menu> .disabled > a:focus {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.profile-dropdown-menu> li > a:before {
position: absolute;
top: -7px;
left: 125px;
display: inline-block;
border-right: 7px solid transparent;
border-bottom: 7px solid #ccc;
border-left: 7px solid transparent;
border-bottom-color: #fff;
content: '';
}


.open {
  *z-index: 1000;
}

.open > .profile-dropdown-menu{
  display: block;
}



/*---end  of profile-btn---*/

.selection-header {
height: 50px;
padding: 0;
color: #333;
background: #f5f5f5;
}

.wizard-menu div {
    position:relative;
	
}

/* = wizard-menu
----------------------------*/
.wizard-menu span {
    display: block;
    float: left;
    font-size: 10px;
    text-align:center;
    width:15px;
    margin: 2px 5px 0px 0px;
    line-height:15px;
    color: #ccc;
    background: #FFF;
    border: 2px solid #CCC;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
/* = DEFAULT STEPS
----------------------------*/
.wizard-menu a {
position: relative;
display: block;
width: auto;
height: 30px;
margin-right: 14px;
padding: 14px 10px 6px 10px;
float: left;
font-size: 14px;
line-height: 24px;
color: #bbb;
background: #f0f0f0;
text-decoration: none;
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
outline:none;
}

.wizard-menu a:before {
width: 0px;
height: 0px;
border-top: 25px solid #f0f0f0;
border-bottom: 25px solid #f0f0f0;
border-left: 13px solid rgba(0, 0, 0, 0);
position: absolute;
content: "";
top: 0px;
left: -12px;
}

.wizard-menu a:after {
width: 0;
height: 0;
border-top: 25px solid rgba(0, 0, 0, 0);
border-bottom: 25px solid rgba(0, 0, 0, 0);
border-left: 12px solid #f0f0f0;
position: absolute;
content: "";
top: 0px;
right: -12px;
}


.first-wiz a {
    color:#646464;
    background:#dcdcdc;;
}
.first-wiz a:before {
	
	border:none;
}
.first-wiz a:after {
    border-left: 12px solid #dcdcdc;
}
.first-wiz span {
   
    color: #646464;
    text-shadow:none;
}


















.icons-padding{ padding:0px 5px 0px 5px; position:relative; top:10px;}


.navbar-inner-toptab ul li { list-style-type:none}
.navbar-inner-toptab {
min-height: 40px;
padding-right: 20px; padding-left:10px;
background: -moz-linear-gradient(center top , #4A7EB9, #3E699A) repeat-x scroll 0 0 #205D96;
background-repeat: repeat-x;
border: 0px solid #DDD;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
box-shadow: 0 1px -1px rgba(0, 0, 0, 0.065),0px -12px 9px -13px #D5D5D5 inset;
}


.navbar-toptab .nav-toptab > li > a {
  float: none;
  font-size:14px;
  padding: 10px 15px 10px;
  color: #fff;
  text-decoration: none;
  
}

.navbar-toptab .nav-toptab {
  position: relative;
  left: 0;
  display: inline-block;
  margin: 10px 10px 0 0;
}

.navbar-toptab .nav-toptab.pull-right-toptab {
  float: right;
  margin-right: 0;
}

.navbar-toptab .nav-toptab > li {
  float: left; padding:0px 0px 8px 0px;
}

.navbar-toptab .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #fff;

}
.navbar-toptab .brand:hover,
.navbar-toptab .brand:focus {
  text-decoration: none;
}
.navbar-toptab .nav-toptab li.dropdown-toptab.open > .dropdown-toggle-toptab,
.navbar-toptab .nav-toptab li.dropdown-toptab.active > .dropdown-toggle-toptab,
.navbar-toptab .nav-toptab li.dropdown-toptab.open.active > .dropdown-toggle-toptab {
  color: #555555;
  background-color: #e5e5e5;
}


.navbar-toptab .nav-toptab li.dropdown-toptab > .dropdown-toggle-toptab .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}

.caret-toptab {
  display: inline-block;
  width: 0;
  height: 0;
  
  border-top: 4px solid #ccc;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.dropdown-toptab .caret {
  margin-top: 8px;
  margin-left: 2px;
}

.dropdown-menu-toptab {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu-toptab .pull-right {
  right: 0;
  left: auto;
}





.dropdown-menu-toptab .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.dropdown-menu-toptab > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu-toptab > li > a:hover,
.dropdown-menu-toptab > li > a:focus,
.dropdown-submenu-toptab:hover > a,
.dropdown-submenu-toptab:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #CCCCCC;
  background-image: -moz-linear-gradient(top, #9b9b9b, #909090);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9b9b9b), to(#909090));
  background-image: -webkit-linear-gradient(top, #9b9b9b, #909090);
  background-image: -o-linear-gradient(top, #9b9b9b, #909090);
  background-image: linear-gradient(to bottom, #9b9b9b, #909090);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#747474', endColorstr='#909090', GradientType=0);
}

.dropdown-menu-toptab > .active > a,
.dropdown-menu-toptab > .active > a:hover,
.dropdown-menu-toptab > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu-toptab > .disabled > a,
.dropdown-menu-toptab > .disabled > a:hover,
.dropdown-menu-toptab > .disabled > a:focus {
  color: #999999;
}

.dropdown-menu-toptab > .disabled > a:hover,
.dropdown-menu-toptab > .disabled > a:focus {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}






.dropdown-toggle a{ color:#fff;}










        #main { width:100%; margin: 0px auto;  }

        #header { text-align:center;   }

        fieldset { border:none; padding-left:30px}

        legend { font-size:18px; margin:0px; padding:20px 0px; color:#b0232a; font-weight:bold; display:none}

        label { display:block; margin:10px 0 5px; font-size:14px; color:#595959}

        input[type=text], input[type=password] { width:300px; padding:5px; border:solid 1px #c9c9c9;}

        .prev, .next {  background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    padding: 3px 10px;}

        .prev:hover, .next:hover { background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    padding: 5px; font-size:12px;}

        .prev { float:left;  padding:5px; font-size:12px;}

        .next {  padding:5px; font-size:12px; margin:0px 10px 0px 0px}

        #steps { background: none repeat scroll 0 0 #F5F5F5; color: #333333; 
    padding: 0; list-style:none; width:100%; overflow:hidden; }

        #steps li {font-size:24px; float:left; padding:0px; color:#b0b1b3; cursor: pointer;}

        #steps li span {font-size:11px; display:block;}

        #steps li.current { color:#000;}

        #makeWizard { background-color:#b0232a; color:#fff; padding:5px 10px; text-decoration:none; font-size:18px;}

        #makeWizard:hover { background-color:#000;}
		
		
		
		
		
		
		
		
.caret-topdrop {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ccc;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
}

#block{padding:0px 6px 0 6px;margin:0 auto; height:103px; width:270px}
#block .photo{margin-right:6px;position:relative;float:left;}
#block .photo img{max-width:115px;max-height:115px;overflow:hidden;position:absolute;}
#block .photo img.photo-bg{z-index:1;}
#block .photo img.photo{left:0;}
#block p.content{font-style:italic;line-height:24px;padding-left:19px;margin-left:121px;position:relative;overflow:hidden;}
#block p.content span {text-indent;}
#block .sign{text-align:left;float:left; padding:5px 0px 0px 130px; font-weight:bold;}
#block .sign a{color:#577302;font-size:13px;text-decoration:none;}
#block .sign a:hover{text-decoration:underline;}
#block .sign p{color:#5a5a5a;font-size:12px;line-height:15px;margin-top:4px; font-weight:normal}

.gbsbt {
    background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.1), transparent);
    height: 6px; 
    top: 0;
}
.signout{ background-color:#f5f5f5; border-top:1px solid #bebebe; height:50px;}
.btn-addaccount {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0; margin-top:10px; margin-left:10px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.btn-signout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0; margin-top:10px; margin-left:78px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.radiospan{ width:150px; margin:0px;}
.inputradio {
    float: left;
    font: bold 0.95em arial,sans-serif;
    margin: 10px;
}
.radio-text{ font-size:14px; padding:2px 0px 0px 7px; float:left; color:#595959;}
.radio-btn-td{ padding:0px 0px 0px 0px}


.emailtext{ font-size:12px;}
div.custom_file_upload {
	width: 230px;
	height: 20px;
	margin: 25px 0px 20px 0px;
}
.inputradio {
    float: left;
    font: bold 0.95em arial,sans-serif;
    margin: 10px;
}
.radio-text-padding{ font-size:14px; padding:2px 0px 0px 7px; float:left; color:#595959;}
.radio-text{ font-size:14px; padding:2px 0px 0px 7px; float:left; color:#595959;}
.radio-btn-td{ padding:0px 0px 0px 0px}

input.file {
	width: 200px;
	height: 20px;
	border: 1px solid #BBB;
	border-right: 0;
	color: #888;
	padding: 5px; height:32px;	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
	outline: none;
}

div.file_upload {
	width: 80px;
	height: 32px;
	background: #7abcff;
	background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
	background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
	background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
	background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
	background: linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );

	display: inline;
	position: absolute;
	overflow: hidden;
	cursor: pointer;
	
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	
	font-weight: normal;
	color: #FFF;
	text-align: center;
	
}
div.file_upload:before {
	content: 'UPLOAD';
	position: absolute;
	left: 0; right: 0;
	text-align: center;
	top:7px; font-size:13px; font-weight:bold;	
	cursor: pointer; text-transform: uppercase;
}

div.file_upload input {
	position: relative;
	height: 30px;
	width: 250px;
	display: inline;
	cursor: pointer;
	opacity: 0;
}


.modal-email {
position: fixed;
top: 10%;
left: 50%;
z-index: 1050;
width: 560px;
margin-left: -280px;
background-color: #ffffff;
border: 1px solid #999;
border: 1px solid rgba(0, 0, 0, 0.3);
*border: 1px solid #999;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
outline: none;
-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box; text-align:left;
}

.model-sendemail{ float:left; font-size:14px; padding:0px 10px 5px 20px}

.selection-main-cont-wizard {
  padding:30px 30px 30px 0px;
  box-sizing:border-box;

}
.add-newbutton{ padding:0px 20px 0px 20px;}

.select-item{ width:250px; padding:0px;}
.textarea-item{ width:250px}
.button-padding{ padding:15px 0px 20px 0px}
.formtext{color: inherit;
    font-family: inherit;
    font-weight: normal;
    line-height: 20px; font-size:14px;
    margin: 15px 0; color:#595959; position:relative; top:4px;
    text-rendering: optimizelegibility;}
	
.advanced-options {
margin-bottom: 2px;
border: 0px solid #e5e5e5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.advanced-options-heading .advanced-options-toggle {
  display: block;
  padding: 8px 0px; font-size:14px; color:#595959;
}

.formtext-even{color: inherit;
    font-family: inherit; background-color:#f9f9f9;
    font-weight: normal;
    line-height: 20px; font-size:14px;
 color:#595959; 
    text-rendering: optimizelegibility;}
	
.newwizard-heading{
color: inherit;
font-family: inherit; color:#595959;
font-weight: bold;
line-height: 20px; border-bottom:1px dashed #CCC;
margin: 0px 0;
text-rendering: optimizelegibility;
}
.form-divtext {
    background-color: #fff;  
    font-size: 14px;
      padding: 15px 15px 10px 0px; border-radius:4px;
}

.calendarReportImg {
    background: url("../img/calender.png") no-repeat scroll right top #FBFBFB;
    border: 1px solid #CCCCCC;
    width: 20px;
}

.chk-box-paddingfont {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    position: relative;
    right: 0px;
    top: 5px;
}

.contentLayer {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background-color: #FFFFFF;
border-color: #E5E5E5 #DBDBDB #D2D2D2;
border-image: none;
border-radius: 5px 5px 5px 5px;
border-style: none;
border-width: 1px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
padding: 15px 0 20px;
width: 100%;
}

.content-heading {
border-bottom: 1px solid #EDEDED;
color: #595959;
font-family: "Myriad Pro",Verdana,Geneva,sans-serif;
font-size: 17px;
font-weight: normal;
line-height: 50px;
width: 100%;  padding: 10px 0 0;
}

.report-bg {
background-color: #F7F7F7;
color: #595959;
padding: 20px 10px;
}

.report-bdr-left {
border-bottom: 1px solid #E4E4E4;
}

.report-green-txt {
color: #34AA05;
font-family: "Myriad Pro",Verdana,Geneva,sans-serif;
font-size: 30px;
}
.report-bg {
color: #595959;
}

.table-heading-bg {
background-color: #EEEEEE;
border-bottom: 1px solid #E8E8E8;
color: #595959;
font-family: Verdana,Geneva,sans-serif;
font-size: 12px;
font-weight: bold;
padding: 10px;
}

.emailcampheader td a{
background-color:#fff; 
cursor:pointer;
color:#595959; 
text-decoration:none; 


}

.emailcampsHeaderHover td a{
background-color:#f7f7f7; 
cursor:pointer; color:#151aef;
text-decoration:underline; 

}
.emailcampHeaderHover td a:hover{
background-color:#f3f6ff; 
cursor:pointer;  
text-decoration:underline; color:#151aef;

}


.emailcampHeaderHover td {
background-color:#fff; 
cursor:mouse;
}
.emailcampHeaderHover td {
background-color:#f7f7f7;
cursor:pointer; 
cursor:default;

}

.tbl-btm-bdr {
border-bottom: 1px solid #EBEBEB;
color: #595959;
font-family: Verdana,Geneva,sans-serif;
font-size: 12px;
padding: 10px;
}

.report-span {
color: #595959;
font-size: 12px;
}

.report-bounced {
color: #AE0000;   
font-size: 16px;
}
.normal-text{ font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#595959;}


.top-icon-padd {
left: 0;
padding: 0 5px;
position: relative;
top: 0px;
}

.dropdown
{
color: #555;
margin: 3px -22px 0 0;
width: 143px;
position: relative;
height: 17px;
text-align:left;
}
.submenu
{
background: #fff;
position: absolute;
top: -12px;
left: -20px;
z-index: 100;
width: 135px;
display: none;
margin-left: 10px;
padding: 40px 0 5px;
border-radius: 6px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}
.dropdown li a
{
color: #555555;
display: block;
font-family: arial;
font-weight: bold;
padding: 6px 15px;
cursor: pointer;
text-decoration:none;
}

.dropdown li a:hover
{
background:#155FB0;
color: #FFFFFF;
text-decoration: none;
}
a.account 
{
font-size: 11px;
line-height: 16px;
color: #555;
position: absolute;
z-index: 110;
display: block;
padding: 11px 0 0 20px;
height: 28px;
width: 121px;
margin: -11px 0 0 -10px;
text-decoration: none;
background: url(icons/arrow.png) 116px 17px no-repeat;
cursor:pointer;
}
.root
{
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
padding: 11px 0 0 0px;
border-top:1px solid #dedede;
}
.first-wiz-new  {
    color:#646464;
    background:#000; text-decoration:none;
}
.first-wiz-new a:before {
   
    border:none; text-decoration:none;
}
.first-wiz-new a:after {
    border-left: 12px solid #dcdcdc; text-decoration:none;
}
.first-wiz-new span {
  
    color: #646464;
    text-shadow:none;
}

.wizard-menu-new a {
position: relative;
display: block;
width: auto;
height: 30px;
margin-right: 14px;
padding: 14px 10px 6px 10px;
float: left;
font-size: 14px;
line-height: 24px;
color: #bbb;
background: #DCDCDC;
text-decoration: none;
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
outline:none;
}


.wizard-menu-new a:before {
width: 0px;
height: 0px;
border-top: 25px solid #DCDCDC;
border-bottom: 25px solid #DCDCDC;
border-left: 13px solid rgba(0, 0, 0, 0);
position: absolute;
content: "";
top: 0px;
left: -12px; text-decoration: none;
}

.wizard-menu-new a:after {
width: 0;
height: 0;
border-top: 25px solid rgba(0, 0, 0, 0);
border-bottom: 25px solid rgba(0, 0, 0, 0);
border-left: 12px solid #DCDCDC;
position: absolute;
content: "";
top: 0px;
right: -12px; text-decoration: none;
}


.empty{ height:20px;}


.newwizard-link{ color:#595959; text-decoration:underline; padding:0px 10px 0px 0px}
.newwizard-link1{ color:#595959; text-decoration:underline; padding:0px 0px 0px 5px}
.user-icon-size{ font-size:20px;}
.email-list-icons{ margin:7px 5px 0px 5px; float:left; background:none; opacity:.9}

#footer {
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}
#footer p{ font-size:13px; color:#595959}
#footer p a{ font-size:13px; color:#595959; padding:0px 10px 0px 10px}
